<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95343554383-pcs74kdakgsj6e2m4luth8afq98r6adt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95343554383-pcs74kdakgsj6e2m4luth8afq98r6adt</string>
	<key>API_KEY</key>
	<string>AIzaSyCONrMVs6jBYXfKBfHXblnwAKIPRgT1LTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>95343554383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poketChefFlutter</string>
	<key>PROJECT_ID</key>
	<string>poket-chef</string>
	<key>STORAGE_BUCKET</key>
	<string>poket-chef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95343554383:ios:e415ce4b7333f61d31df3a</string>
</dict>
</plist>